django-bootstrap3
django-admin-bootstrapped
django-reversion
django-guardian
django-jquery-ui
django-mptt
django-oauth2-provider
django-import-export
easy-thumbnails
django-userena

# Optional requirements
ipython[notebook]
#towel_bootstrap
jinja2
jsonschema

# The following specific version is needed to generate the model graph
pyparsing==1.5.7
pydot==1.1.0
# The above specific version is needed to generate the model graph

django-tastypie
django-compat
ufs-tools
#djangoautoconf
