alabaster==0.7.7
altgraph==0.16.1
appdirs==1.4.0
argh==0.26.2
# asgiref==1.1.2
attrs==18.2.0
autobahn==0.15.0
Automat==0.7.0
Babel==2.9.1
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.3
biconfigs==0.1.3
bleach==2.1.4
bs4==0.0.1
cached-property==1.3.0
certifi==2016.2.28
channels==1.1.8
Click==7.0
colorama==0.3.7
configparser==3.5.0
constantly==15.1.0
Couchapp==1.0.2
crontab==0.22.2
daphne==1.4.2
decorator==4.0.9
defusedxml==0.4.1
diff-match-patch==20121119
dill==0.2.5
dis3==0.1.2
Django==1.8.19
django-ace==1.0.2
django-admin-bootstrapped==2.2.1
django-ajax-selects==1.4.3
django-allauth==0.37.1
django-annoying==0.9.0
django-appconf==1.0.1
django-auth-ldap==1.3.0b1
django-autoslug==1.9.3
django-background-tasks==1.0.11
django-betterforms==1.1.4
django-bootstrap-form==3.2
django-bootstrap-pagination==1.6.4
django-bootstrap3==7.0.1
django-classy-tags==0.8.0
django-clever-selects==0.8.2
django-compat==1.0.10
django-contrib-comments==1.9.0
django-crispy-forms==1.7.2
django-crontab==0.7.1
django-dash==0.5.2
django-db-logger==0.1.6
django-dbtemplates==2.0
django-disqus==0.5
django-dynamic-preferences==0.8.1
django-el-pagination==3.2.4
django-endless-pagination==2.0
django-extensions==1.6.1
django-extra-views==0.8.0
django-filter==1.0.1
django-fluent-contents==1.1.4
django-fluent-utils==1.2.3
django-generic-aggregation==0.4.0
django-geoposition==0.3.0
django-guardian==1.4.1
django-import-export==0.4.5
django-ipware==2.1.0
django-jquery==3.1.0
django-jquery-ui==1.11.4.1
django-js-asset==1.1.0
django-keyval==0.1.2
django-mailbox==4.4.7
django-mathfilters==0.4.0
django-model-utils==2.5
django-mptt==0.8.3
django-mptt-admin==0.3.6
django-nine==0.1.13
django-nyt==0.9.9
# The following do not support Django 1.8, so clone a version supporting Django 1.8 manually
# Otherwise, rename the migration folder to south_migration
# django-oauth2-provider==0.2.6.1
django-pagination==1.0.7
django-pandas==0.5.1
django-parler==1.6.5
django-polymorphic==0.9.2
django-post-office==2.0.7
django-rest-swagger==0.3.5
django-reversion==2.0.6
django-scheduler==0.8
django-sekizai==0.10.0
django-settings==1.3.12
django-simple-captcha==0.5.1
django-tables2==1.1.4
django-tables2-reports==0.0.10
django-tag-parser==2.1
django-taggit==0.19.1
django-tastypie==0.13.3
django-tastypie-swagger==0.1.4
django-template-analyzer==1.6.1
django-tinymce==2.7.0
django-treenav==1.2.0
django-userena==2.0.1
djangocodemirror==2.0.0
djangorestframework==3.3.3
docutils==0.16
drf-tracking==0.2.5
easy-thumbnails==2.5
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
evernote==1.25.3
feedparser==5.2.1
flup==1.0.2
funcsigs==1.0.2
# functools32==3.2.3.post2
future==0.15.2
futures==3.0.5
gitdb==0.6.4
GitPython==1.0.2
html2text==2014.12.29
html5lib==0.999999999
http-parser==0.8.3
httplib2==0.9.2
hyperlink==18.0.0
icalendar==3.10
idna==2.7
imagesize==0.7.0
incremental==17.5.0
ipaddress==1.0.22
# ipykernel==4.10.0
# ipython==5.8.0
# ipython-genutils==0.2.0
# ipywidgets==7.4.2
isodate==0.5.4
jdcal==1.2
Jinja2==2.10
jira==2.0.0
jsonfield==1.0.3
# jsonschema==2.6.0
# jupyter-client==5.2.3
# jupyter-core==4.4.0
lambdaJSON==4.3
# lxml==4.2.5
macholib==1.11
Markdown==2.6.11
MarkupSafe==0.23
mechanize==0.2.5
mistune==0.7.2
mock==2.0.0
# MySQL-python==1.2.5
# nbconvert==5.4.0  # Need pyzmq
#nbformat==4.4.0  # Need pyzmq
#nose==1.3.7  # Need pyzmq
# notebook==5.7.0  # Need pyzmq
numpy==1.15.2
numpydoc==0.6.0
O365==0.9.16
oauth2==1.9.0.post1
oauthlib==1.0.3
odfpy==1.3.6
Office365-REST-Python-Client==2.0.0
openpyxl==2.3.4
ordereddict==1.1
packaging==18.0
paho-mqtt==1.4.0
pandas==0.23.4
pandocfilters==1.4.2
path.py==8.1.2
pathlib2==2.3.2
pathtools==0.1.2
pbr==1.10.0
pefile==2017.9.3
persisting-theory==0.2.1
pickleshare==0.6
pif==0.8.2
Pillow==5.2.0
pinax-eventlog==2.0.3
pinyin==0.4.0
pkginfo==1.5.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
# psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycrypto==2.6.1
pyftpdlib==1.5.4
Pygments==2.1.3
PyHamcrest==1.9.0
PyInstaller==3.4
PyJWT==1.4.0
pyparsing==2.2.1
pyreadline==2.1
# Pyro4==4.73
python-dateutil==2.5.3
# python-ldap==3.1.0
python-mimeparse==1.5.1
python-openid==2.2.5
python-social-auth==0.2.14
pytz==2016.3
# pywin32==220
# pywin32-ctypes==0.2.0
# pywinpty==0.5.4
pyxlsb==1.0.4
PyYAML==3.11
# pyzmq==17.1.2
readme-renderer==24.0
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.9.1
restkit==4.2.2
scandir==1.9.0
selectors34==1.2
Send2Trash==1.5.0
serpent==1.27
shortuuid==0.4.3
simple-crypt==4.1.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
smmap==0.9.0
snowballstemmer==1.2.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
socketpool==0.5.3
sorl-thumbnail==12.5.0
spark-parser==1.6.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
state-machine==0.2.9
suds==0.4
suds-requests==0.3
tablets==0.4.6
tablib==0.11.2
terminado==0.8.1
testpath==0.3
tlslite==0.4.9
tornado==5.1.1
towel==0.10.0
tqdm==4.42.1
traitlets==4.2.1
transliterate==1.10.2
twine==1.15.0
Twisted==18.7.0
txaio==2.5.1
typing==3.6.6
tzlocal==1.2.2
ufs-tools==0.5.15
uncompyle6==2.11.5
unicodecsv==0.14.1
Unidecode==1.0.22
unpy2exe==0.3
virtualenv==16.0.0
vishap==0.1.5
watchdog==0.6.0
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.37.0
widgetsnbextension==3.4.2
wiki==0.3.1
win-unicode-console==0.5
ws4py==0.3.5
xdis==3.5.5
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zope.interface==4.5.0
